block links
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(type='text/javascript', src='/js/highcharts.js')
	script(type='text/javascript', src='/js/resultschart.js')

h1 karma!

- var subreddits = {}
- var links = 0
- var linkVotes = 0
- var comments = 0
- var commentVotes = 0
- for child in info
	- var votes = (child.data.ups - child.data.downs)
	//p= child.data.title + ' and votes: ' + votes
	- if (subreddits[child.data.subreddit])
		- subreddits[child.data.subreddit] += votes
	- else
		- subreddits[child.data.subreddit] = votes
	- if (child.kind == 't3')
		- links += 1
		- linkVotes += votes
	- else
		- comments += 1
		- commentVotes += votes

h3 Total Links: #{links} with #{linkVotes} votes
h3 Total Comments: #{comments} with #{commentVotes} votes

#container

each votes, subreddit in subreddits
	p= subreddit + ' has ' + votes + ' votes'
	
	
