script!= javascript

div
	- var subreddits = {}
	- var userinfoObject = {"children":[]}
	- var links = 0
	- var linkVotes = 0
	- var comments = 0
	- var commentVotes = 0
	- for child in info
		- var votes = (child.data.ups - child.data.downs)
		- if (subreddits[child.data.subreddit])
			- subreddits[child.data.subreddit] += votes
		- else
			- subreddits[child.data.subreddit] = votes
		- if (child.kind == 't3')
			- links += 1
			- linkVotes += votes
		- else
			- comments += 1
			- commentVotes += votes		
	- var sorted = []
	- for (var subreddit in subreddits)
		- sorted.push([subreddit, subreddits[subreddit]])
	- sorted = sorted.sort(function(a,b){return b[1]-a[1]})				
			
	each votes, subreddit in subreddits
		- userinfoObject.children.push({"name":subreddit,"size":votes})
	
	

.container-fluid
	.row-fluid.span12
		.span4.well.tall
			.totals
				h5 #{links} 
					span Links with 
					#{linkVotes} 
					span votes
					br
					#{comments} 
					span Links with 
					#{commentVotes}
					span votes
				br
			.subreddits
				each subreddit in sorted
					h5 #{subreddit[0]} 
						span  has 
						#{subreddit[1]}
						span  votes	  
		.span6.center.well
			#chart
